* {
  al:      #00000000;
  ac:      #03edf9ff;

  bg:      #262335ff;
  fg:      #ffffffff;
  red:     #fe4450ff;
  green:   #72f1b8ff;
  yellow:  #fede5dff;
  blue:    #03edf9ff;
  cyan:    #03edf9ff;
}
