configuration {
	modi: "window,drun";
	font: "mono 14";
	bw: 4;
	show-icons: true;
	color-normal: "#0f111b, #ecf0c1, #000000, #5ccc96, #0f111b";
	color-window: "#0f111b, #00a3cc, #00a3cc";
	kb-mode-next: "Shift+Right,Alt+Tab";
}
